spider/
third_party/
.env
vector_cache/
img/
dataset/process/SPIDER-TEST_SQL_3-SHOT_EUCDISQUESTIONMASK_QA-EXAMPLE_CTX-200_ANS-4096
vector_db/
error_correction/pipeline.log
error_correction/__pycache__/
__pycache__/
vector_sql_db/incorrect/faiss.index
vector_sql_db/incorrect/metadata.json
vector_sql_db/incorrect/queries.pkl
error_correction/results/